body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}

/* ヘッダーのスタイル */
header {
    text-align: center;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3px;
    max-width: 1200px; /* タイトルが1200pxに収まるように設定 */
    margin-left: auto; /* 左右の中央に配置 */
    margin-right: auto;
}

/* ギャラリーのスタイル */
.gallery {
    display: flex; /* Flexboxを使用して横並びにする */
    flex-wrap: wrap; /* 横に入りきらない場合に改行する */
    justify-content: center; /* 中央揃えにする */
    gap: 10px; /* 画像間の隙間 */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 1200px; /* ギャラリーの幅を画面幅に応じて調整 */
    margin: 0 auto; /* 中央に配置 */
}

.gallery-item {
    flex: 1 1 0%; /* 各画像が8%の幅を取る（およそ12個が横並び） */
    max-width: 150px; /* 画像の最大幅を設定 */
}

.gallery-item img {
    width: 100%; /* 親要素に合わせて画像を調整 */
    height: auto; /* アスペクト比を保ったまま高さを自動調整 */
    
}

.gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 日誌表示エリアのスタイル */
#diary {
    margin-top: 3px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: pre-line;
}

#header-content {
    display: flex;
    justify-content: center; /* 中央に配置 */
    align-items: center;
    margin-bottom: 3px; /* 下のマージンを少し減らす */
}

#header-content h2 {
    margin: 1px 0; /* 上下のマージンを減らす */
    text-align: center; /* テキストを中央に揃える */
}

#selected-date {
    font-size: 14px;
    margin-left: 10px;
}

#form-content {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between; /* 各要素を同じ行に配置 */
    margin-bottom: 10px; /* 行ごとの間隔を設定 */
}

.form-row label {
    margin-right: 10px; /* ラベルと入力欄の間隔を設定 */
}

#date {
    flex: 0 0 50px; /* 月日の入力欄を固定幅に設定 */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-right: 10px; /* 次の要素との間隔を設定 */
    font-size: 16px; /* 文字のサイズを大きく設定 */
}

#task {
    flex: 1; /* 作業内容の入力欄を可能な限り広げる */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px; /* 文字のサイズを大きく設定 */
}

#diary label {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

#details {
    height: 50px; 
}

#notes {
    height: 35px;    
}

#details, #notes {
    width: 100%;    
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px; /* 文字サイズを設定 */    
    vertical-align: middle; /* 縦方向の中央揃え */
}

#save {
    margin-top: 1px; /* 「気づいたこと」との間隔を狭く */
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#save:hover {
    background-color: #218838;
}